.detail{
    font-size: 12PX;
    .replyBtn{
        position: fixed;
        left:0;
        bottom: 0;
        width: 100%;
        color:#FFFFFF;
        background-color: #ff4081;
        border-radius: 0;
    }
    .at-tabs__body{
        // white-space: normal;
    }
    .at-divider__content{
        color: #666666;
    }
    .at-tabs__item--active{
        color:#F10215;
    }
    .at-tabs__item-underline{
        background-color: #F10215;
    }
    .at-tabs__header{
        margin-top: 42PX;
    }
    .count-down{
        box-sizing: border-box;
        padding: 10PX;
        .time-title{
            font-size: 14PX;
            color: #F10215;
        }
    }
    .price-tip-box{
        padding: 40PX 10PX;
        box-sizing: border-box;
        overflow: hidden;
        .price-tip{
            font-size: 60px;
            font-weight: bold;
            text-align: center;
            color: #333333;
        }
        .list-of-winners-title{
            font-size: 14PX;   
            margin-top: 40PX;
        }
        .list-of-winners{
            margin-top: 40PX;
            border: 1PX solid #f0f0f0;
            padding: 10PX;
            height: 100PX;
            border-radius: 6PX;
            box-sizing: border-box;
            .price-info{
                
            }
        }
    }
}